.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 31.25em;
  min-width: 18.75em;
  padding: 0 1em;
  background-color: var(--dark-grey);
  font-family: Arial, sans-serif;
  color: var(--whitec);
}
