.wrapper {
  text-align: center;
}
.title {
  color: var(--grayc);
}
.balance {
  font-size: 2.5em;
  margin: 0.3em 0;
}
.dollar {
  font-size: 1rem;
  vertical-align: super;
}
.subtitle {
  color: var(--grayc);
}

.grow_green {
  color: var(--greenc);
  padding-top: 0.6em;
}
.grow_red {
  color: var(--redc);
  padding-top: 0.6em;
}
